*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

#canvas{
    position:absolute;
    top:0;
    left:0;
    background-image: linear-gradient(bottom,  #ff9a9e  0%, #fecfef 100%);
    background-image: -o-linear-gradient(bottom,   #ff9a9e  0%, #fecfef 100%);
    background-image: -moz-linear-gradient(bottom,   #ff9a9e  0%, #fecfef 100%);
    background-image: -webkit-linear-gradient(bottom,   #ff9a9e  0%, #fecfef 100%);
    background-image: -ms-linear-gradient(bottom,   #ff9a9e  0%, #fecfef 100%);
}

#owl{
    position: absolute;
    left: -20em;
    bottom: -20em;
    width: 25em;
    transition: width 2s;
    animation-delay: 2s;
    animation-name: appear;
    -webkit-animation-duration: 4s;
    animation-fill-mode: forwards;
}

#owl:hover{
    width: 26em;
}

.message{
    opacity: 0;
    position: absolute;
    left: 5em;
    bottom: 14em;
    animation-delay: 6s;
    animation-name: appearMessage;
    -webkit-animation-duration: 2s;
    animation-fill-mode: forwards;
}

.message-box{
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 70px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-box::after{
    content: '';
    position: absolute;
    border-top: 100px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 10px solid transparent;
    left: 20px;
}

.message-content{
    width: fit-content;
}

.message-content p {
    overflow: hidden;
    white-space: nowrap;
    border-right: solid 1px #333;
    animation: type-text 4s steps(25) forwards 6s, cursor-blink 1s steps(1) infinite 6s;
}

.message-content button{
    opacity: 0;
    color: #444444;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    background: none;
    padding: 0 2px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    cursor: pointer;
    animation-delay: 10s;
    animation-name: appearButton;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.message-content button:hover{
    color: #000;
}

@keyframes appear{
    0%{
        transform: rotate(0);
        left: -20em;
        bottom: -20em;
    }
    100%{
        transform: rotate(10deg);
        left: -6em;
        bottom: -4em;
    }
}

@keyframes appearMessage {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes type-text {
    0% { width: 0%;}
    100% { width: 100%;}
}

@keyframes cursor-blink {
    0% { border-right-color: #333; }      
    24% { border-right-color: #333; }      
    25% { border-right-color: transparent; } 
    75% {border-right-color: transparent;}
    76% {border-right-color: #333;}
    100% { border-right-color: #333; }     
}

@keyframes appearButton {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* ---------------------------------------------------------------- */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

/* Modal container */
.modal-container{
    position: relative;
    background-color: #ffffff00;
    width: 60%;
    max-width: calc(100% - 100px);
    animation: modalFadeIn ease 0.5s;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.bg-img-base {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.card-center {
    position: relative;
    min-height: 500px;
}
  
.card-packaging {
    width: 30%;
    display: block;
    margin: 0 auto;
    position: relative;
    min-height: 500px;
    box-shadow: 0 0 6px 2px #926c6c;
}
  
.card .open {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
    transition: .3s;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
  
.card .open:hover {
    right: -10px;
    transition: .3s;
}
  
.card .open-tail {
    position: relative;
    height: 36px;
    width: 30px;
    float: left;
}
  
.card .open-tail:before {
    content: '';
    display: block;
    border-top: 18px solid #d24242;
    border-left: 30px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}
  
.card .open-tail:after {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    border-top: 18px solid transparent;
    border-right: 30px solid #d24242;
}
  
.card .open-main {
    display: inline-block;
    line-height: 36px;
    background: #d24242;
    padding: 0 3px 0 0;
}
  
.card .open-title {
    display: inline-block;
    line-height: 30px;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
  
.card--first,
.card--third {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: all .9s;
    transform-style: preserve-3d;
    z-index: 2;
    box-shadow: 2px 0 6px 2px #926c6c;
}
  
.card--first {
    transition-delay: .4s;
}
  
.card--third {
    z-index: 1;
    transform-origin: right;
    transition: all .9s;
    box-shadow: -2px 0 6px 2px #926c6c;
}
  
.card-packaging.is-open .card--first {
    transform: rotateY(180deg);
    transition: all .9s;
}
  
.card-packaging.is-open .card--third {
    transform: rotateY(180deg);
    transition: all .9s;
    transition-delay: .4s;
}
  
.card-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    padding: 15px 25px;
}
  
.card-wrapper.back {
    transform: rotateY(180deg);
}
  
.close {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}